<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/register.js"></script>
    <link rel="stylesheet" href="../css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <button id="home-button" onclick="home()">home</button>
        <div class="box">
            <h1>Signup</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Enter your username">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
            <label for="profile">Profile:</label>
            <input type="text" id="profile" name="profile" required placeholder="Enter your profile">  
            <!-- Profile Image Upload -->
            <label for="profileImage">Profile Image:</label>
            <input type="file" id="profileImage" name="profileImage" accept="image/*">
            
            <button type="submit" onclick="addUser()">Signup</button>
        </div>
        <div class="box">
            <h1>Login</h1>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" name="username" required placeholder="Enter your username">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" name="password" required placeholder="Enter your password">
            <label for="email-login">Email:</label>
            <input type="email" id="email-login" name="email" required placeholder="Enter your email">
            <button type="submit" onclick="login()">Login</button>
        </div>
    </div>
</body>
</html>